name: MLflow CI Basic

on:
  push:
    branches: [ main ]

jobs:
  train_model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Check Python environment
        run: |
          python --version
          pip list

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas numpy matplotlib

      - name: Run MLflow Project
        run: mlflow run MLProject -e train

      - name: Get latest MLflow run_id
        run: |
          mlflow runs list --experiment-name Workflow_CI_Experiment --order-by attribute.start_time DESC --max-results 1
